//COLORS

$background-main: #082F5E;
$background-secondary: #F5F5F5;
$background-grey: #F4F7FA;

$text-white: #FFFFFF;
$text: #596573;

$brand-yellow: #FFCE1F;
$brand-dark-blue: #131A58;
$brand-blue: #1780FF;
$light-blue: #CCE3FF;
$grey: #EAEAEA;

//Z-INDEX
$z-index-top: 100;
